* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: whitesmoke;
}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
}

#menu-overlay.active {
    transform: scale(1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: auto;
    padding: 0 70px 0 50px;
    background-color: #fff;
}

.header-container img {
    height: 120px;
    width: auto;
}

#toggleIcon {
    position: relative;
    /*position: fixed;*/
    /*top: 20px;
    right: 20px;*/
    width: 70px;
    height: 52px;
    background: transparent;
    z-index: 1;
    cursor: pointer;
}

.top-toggle, .mid-toggle {
    width: 70px;
    height: 12px;
    margin-bottom: 8px;
    background-color: black;
    z-index: 2;
}

.bot-toggle {
    width: 70px;
    height: 12px;
    background-color: black;
    z-index: 2;
}

#menu-overlay ul {
    position: relative;
}

#menu-overlay ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
    padding-bottom: 100px;
}

#menu-overlay ul li a {
    position: relative;
    text-decoration: none;
    font-size: 90px;
    height: 130px;
    /*padding: 0 60px;*/
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
    font-weight: 700;
    display: inline-block;
}

.home {
    border-bottom: solid 15px #f58632;
}

.work {
    border-bottom: solid 15px #6bc39e;
}

.process {
    border-bottom: solid 15px #ee4826;
}

.contact {
    border-bottom: solid 15px #f7b539;
}

/*#menu-overlay ul li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 8px;
    background: black;
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
}

#menu-overlay ul li a:hover:before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}*/







.banner-container {
    width: auto;
    height: auto;
    background-color: #7ed0df;
    padding: 12% 12% 0 12%;
}

.banner-info img {
   display: none;
}

.banner-info h1 {
    font-size: 8em;
    font-weight: 700;
    line-height: 1.25em;
    text-align: center;
}

.banner-info h4 {
    font-size: 2.5em;
    font-weight: 400;
    padding-top: 50px;
    text-align: center;
}

.cartoon {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.cartoon img {
    width: auto;
    height: 800px;

    
}

