* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /*background-color: cornflowerblue;*/
}
  
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  /*background-color: whitesmoke;*/
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 100%;
  height: 8vh;
  padding: 0 8% 0 6%;
  background-color: rgba(245, 245, 245, 0.9);
}

.fixed-container {
  position: fixed;
  min-height: 80px;
  width: 100%;
  height: 8vh;
  background-color: rgba(245, 245, 245, 0.9);
}

.logo-area {
  display: flex;
  position: fixed;
  align-items: center;
  height: 8vh;
}

.logo-area img {
  height: 60%;
  min-height: 45px;
  width: auto;
}

.links-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
  /*transform-origin: top;*/
  background-color: rgba(245, 245, 245, 0.9);
  /*opacity: .9;*/
  overflow-y: hidden;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 60%;
}

.nav-links li{
  opacity: 0;
  list-style: none;
}

.nav-links a {
  color: rgb(19, 19, 19);
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 3em;
  text-decoration: none;
  opacity: 1;
}

        /***************************************      MENU UNDERLINE */
        .work {
          border-bottom: solid 10px #6bc39e;
          display: inline-block;
          height: 1.5em;
      }

      .process {
          border-bottom: solid 10px #ee4826;
          display: inline-block;
          height: 1.5em;
      }

      .contact {
          border-bottom: solid 10px #f7b539;
          display: inline-block;
          height: 1.5em;
      }
      /***************************************      MENU UNDERLINE */

.burger {
  display: block;
  cursor: pointer;
  position: fixed;
  left: 83%;
}

.burger div {
  width: 35px;
  height: 5px;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.line1 {
  background-color: #6bc39e;
}

.line2 {
  background-color: #ee4826;
}

.line3 {
  background-color: #f7b539;
}

        /***********************      ANNIMATIONS */
        html.nav-active .links-container {
          display: flex;
          transform: translateY(0%);
          transform-origin: 0%;
        }
        html.nav-active li:nth-child(1) {
          animation: navLinkFade 0.5s ease forwards 0.35s;
        }
        html.nav-active li:nth-child(2) {
          animation: navLinkFade 0.5s ease forwards 0.55s;
        }
        html.nav-active li:nth-child(3) {
          animation: navLinkFade 0.5s ease forwards 0.85s;
        }

        @keyframes navLinkFade {
            from{
                opacity: 0;
                transform: translateY(100px);
            }
            to{
                opacity: 1;
                transform: translateY(0px);
            }
        }

        html.nav-active .line1 {
            transform: rotate(-45deg) translate(-5px, 8px);
            background-color: #6bc39e;
        }
        html.nav-active .line2 {
            opacity: 0;
        }
        html.nav-active .line3 {
            transform: rotate(45deg) translate(-5px, -8px);
            background-color: #6bc39e;
        }
        /***********************      END ANNIMATIONS */







@media only screen and (min-width: 768px) {

.links-container {
  display: inline-flex;
  position: absolute;
  min-height: 80px;
  height: 8vh;
  width: 30%;
  opacity: 1;
  top: -80px;
  left: 64%;
  /*background-color: khaki;*/
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  /*background-color: sienna;*/
}

.nav-links li {
  display: inline-flex;
  opacity: 1;
}

.nav-links li a {
  font-size: 1em;
  /*background-color: seagreen;*/
}

        /***************************************      MENU UNDERLINE */
        .work {
          border-bottom: solid 5px #6bc39e;
          display: inline-block;
          height: 1.6em;
      }

      .process {
          border-bottom: solid 5px #ee4826;
          display: inline-block;
          height: 1.6em;
      }

      .contact {
          border-bottom: solid 5px #f7b539;
          display: inline-block;
          height: 1.6em;
      }
      /***************************************      MENU UNDERLINE */

      .burger {
        display: none;
      }

}

