* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    
}

/* /***************************************        FUEY       */
.banner-container-2 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
.banner-info img {
    display: none;
}
/* /***************************************        FUEY       */

/* /***************************************        NAV AREA       */
/**********   HEADER // NAVIGATION   **********/
header {
    height: 6em;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu {
    display: flex;
    position: fixed;
    z-index: 999;
    height: 6em;
    background-color: #fff;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1em;
}
.logo-img {
    height: 3em;
}
.menu-icon {
    font-size: 1.25em;
    color: #4c5053;
    line-height: 50px;
    cursor: pointer;
}
nav {
    position: absolute;
    background-color: #fff;
    top: 6em;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0 1em;
}
nav ul li a {
    display: inline-block;
    padding: .75em;
    color: #4c5053;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #5e6d74;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    height: 100vh;
    padding: 15px 0;
    transition: all 0.5s;
}
.no-hamburger {
    display: none;
}
        /**********   ANCHOR POINT   **********/
        a.anchor {
            display: block;
            position: relative;
            top: -95px;
            visibility: hidden;
        }
        /**********   ANCHOR POINT   **********/
/**********   HEADER // NAVIGATION   **********/